body {
  margin: 0;
  padding: 0;
}

.app-container {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
}

.page-title {
  color: #007bff;
}

.custom-modal {
  .modal-content {
    background-color: #f8f9fa;
  }

  .modal-header {
    background-color: #007bff;
    color: #fff;
  }

  .modal-footer {
    background-color: #f8f9fa;
  }
}

.search-button {
  margin-right: 10px;
}

.add-member-button {
  margin-right: 10px;
}

.mandatory-field {
  color: red;
}
/* Add this to your App.css or your main styling file */
.app-container {
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient-heading {
  margin-left: 20px; 
}

.button-container {
  display: flex;
  
  gap: 10px; /* Adjust the gap between buttons as needed */
}
.column {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.heading {
  margin: 0;
}

.container {
  padding-top: 10px;
}
.text-danger{
  margin-left: 10px;
}

.main-container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
}

.list-container {
  flex: 1; /* Each list takes up equal space */
  height: 100%; /* Full height of the main container */
  margin-right: 10px; /* Optional margin between lists */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}
.containers{
  margin-top: 50px;
  margin-left: 10px;


}
